.navbar {
  padding: 20px 0;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px 35px;
}

.navbar-page {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-name {
  width: 250px;
  color: #e22b2b;
  margin-left: 8px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-link {
  text-decoration: none;
  color: #e22b2b;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.navbar-img {
  width: 80px;
  object-fit: contain;
}
