.products-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products .news-subname {
  text-align: center;
  margin-top: 0;
}
