.about {
  padding: 25px 0;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-name {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #e22b2b;
  margin-top: 0;
}

.about-text {
  font-size: 16px;
  color: black;
  line-height: 24px;
  width: 600px;
  margin-bottom: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
}

.about-link {
  padding: 8px 35px;
  background-color: #8a2be2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s all ease-in-out;
  border: 2px solid #8a2be2;
}

.about-link:hover {
  background-color: #f2f2f2;
  color: #8a2be2;
}